

{% include 'admin/header.html' %}

        <header>
            <!-- place navbar here -->
        </header>
        <main>

            <!-- jumbotron default -->
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Bonjour Admin</h1>
                    <p class="col-md-8 fs-4">
                        Using a series of utilities, you can create this jumbotron, just
                        like the one in previous versions of Bootstrap. Check out the
                        examples below for how you can remix and restyle it to your liking.
                    </p>
                    <a class="btn btn-primary btn-lg" type="button" href="/admin/portfolio">
                        Administrer Porfolio
                    </a>
                </div>
            </div>
            

        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        
{% include 'admin/footer.html' %}