




{% include 'admin/header.html' %}

<!-- bs5-grid-default, je cree un container grid, et je mets des cards dedans, et
 dans le card, le formulaire -->
<div class="container">
    <div class="row">
        <div
            class="col-md-6"
        >
            <!-- bs5-card-head-foot -->
            <div class="card">
                <div class="card-header">Ajouter Photos</div>
                <div class="card-body">
                    
                    <!-- form:post et dans le form, les inputs-->
                     <!-- action ou jenvoie les donnes -->
                    <form action="/admin/portfolio/ajouter" method="post" enctype="multipart/form-data">

                        <!-- bs5-form-input -->
                        <div class="mb-3">
                            <label for="txt_name" class="form-label">Nom Photo</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txt_name"
                                id="txt_name"
                                aria-describedby="helpId"
                                placeholder="Ecris le nom de la photo"
                            />
                        </div>

                        <!-- type=file, pour selectioner fichiers -->
                        <div class="mb-3">
                            <label for="txt_img" class="form-label">Img</label>
                            <input
                                type="file"
                                class="form-control"
                                name="txt_img"
                                id="txt_img"
                                aria-describedby="helpId"
                                placeholder="Choisir le photo"
                            />
                        </div>
                        
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Ajouter
                        </button>

                    </form>

                </div>
            </div>
        </div>

         
        <div
            class="col-md-6"
        >

            <!-- bs5-table-default -->
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">1</td>
                            <td>Photo paisage</td>
                            <td>img.jpg</td>
                            <td>Supprimer</td>
                        </tr>
                        <tr class="">
                            <td scope="row">2</td>
                            <td>Photo animal</td>
                            <td>img.jpg</td>
                            <td>Supprimer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>




{% include 'admin/footer.html' %}