




{% include 'admin/header.html' %}

<!-- bs5-grid-default, je cree un container grid, et je mets des cards dedans, et
 dans le card, le formulaire -->
<div class="container">
    <div class="row">
        <div
            class="col-md-6"
        >
            <!-- bs5-card-head-foot -->
            <div class="card">
                <div class="card-header">Ajouter Photos</div>
                <div class="card-body">
                    
                    <!-- form:post et dans le form, les inputs-->
                    <form action="" method="post">

                        <!-- bs5-form-input -->
                        <div class="mb-3">
                            <label for="txt_name" class="form-label">Nom Photo</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txt_name"
                                id="txt_name"
                                aria-describedby="helpId"
                                placeholder="Ecris le nom de la photo"
                            />
                        </div>

                        <!-- type=file, pour selectioner fichiers -->
                        <div class="mb-3">
                            <label for="txt_img" class="form-label">Img</label>
                            <input
                                type="file"
                                class="form-control"
                                name="txt_img"
                                id="txt_img"
                                aria-describedby="helpId"
                                placeholder="Choisir le photo"
                            />
                        </div>
                        
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Ajouter
                        </button>

                    </form>

                </div>
            </div>
        </div>

         
        <div
            class="col-md-6"
        >

            <!-- bs5-table-default -->
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Column 1</th>
                            <th scope="col">Column 2</th>
                            <th scope="col">Column 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">R1C1</td>
                            <td>R1C2</td>
                            <td>R1C3</td>
                        </tr>
                        <tr class="">
                            <td scope="row">Item</td>
                            <td>Item</td>
                            <td>Item</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>




{% include 'admin/footer.html' %}